@font-face {
  font-family: 'Pretendard-Regular';
  src: url('./Pretendard-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(139, 185, 203);
  font-family: 'Pretendard-Regular';
  color: rgb(31, 31, 31);
}

.box {
  width: 650px;
  height: 550px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 20px;
  font-weight: 800;
}

.subTitle {
  font-size: 12px;
}

.btn {
  width: 230px;
  height: 37px;
  border: transparent;
  border-radius: 5px;
  background-color: rgb(81, 81, 81);
  color: white;
  font-size: 13px;
  margin-top: 20px;
  cursor: pointer;
}

hr {
  height: 1.1px;
  width: 300px;
  background-color: white;
  border: none;
  margin: 18px 0;
}

input {
  width: 250px;
  height: 30px;
  border: 1.5px solid white;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  font-size: 12px;
  padding-left: 5px;
}

.section {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 5px;
}

.showError {
  display: flex;
  flex-direction: column;
  color: rgb(255, 63, 63);
  font-size: 12px;
}

.showSuccess {
  display: flex;
  flex-direction: column;
  color: #52c452;
  font-size: 12px;
}

/*modal*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: rgba(81, 81, 81, 0.7);
  display: none;
}

.modalBox {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: transparent;
  border-radius: 10px;
}

.modalText {
  font-size: 15px;
  font-weight: 800;
}

.modalSubText {
  font-size: 13px;
}

.modalBtns {
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 45px;
}

.closeBtn,
.move {
  font-size: 12px;
  width: 80px;
  height: 28px;
  text-align: center;
  border: transparent;
  border-radius: 5px;
  background-color: rgb(81, 81, 81);
  color: white;
  cursor: pointer;
}
